In [1]:
#comandos não citados
#join
a = '||'
b = ['andre','bianca','carlos','douglas','eduardo']
a.join(b)

'andre||bianca||carlos||douglas||eduardo'

In [2]:
';'.join(b)

'andre;bianca;carlos;douglas;eduardo'

In [3]:
#format
#https://pyformat.info/
a = 'numero'
b = 1232.4675


print('o {} informado é {:.1f}'.format(a,b))

o numero informado é 1232.5

In [4]:
#ordenar lista
v = [3,4,1,2,2,3,5,88,1231,11123,66432]

In [8]:
v = sorted(v, reverse=True)

In [9]:
v

[66432, 11123, 1231, 88, 5, 4, 3, 3, 2, 2, 1]

In [11]:
#replace
"aaaaaallaaaallllaaaallaaa".replace('a','bcd')

'bcdbcdbcdbcdbcdbcdllbcdbcdbcdbcdllllbcdbcdbcdbcdllbcdbcdbcd'

In [25]:
list(set('aaaaaallaaaallllaaaallaaa'))

['l', 'a']

In [12]:
"".join(list(set('aaaaaallaaaallllaaaallaaa')))

'al'

In [16]:
list(set([1,1,1,1,2,3,4,5]+[1,1,1,2,3,6,7,8]))

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
a = [1,2,3,4]
b = [4,5,6]
a + b

[1, 2, 3, 4, 4, 5, 6]

In [17]:
v = ['bruno','anderson','ueda','camila','ikeda']

In [20]:
#melhores praticas use enumerate no lugar e range
for i,j in enumerate(v):
    print(i)
    print(j)

0
bruno
1
anderson
2
ueda
3
camila
4
ikeda

In [24]:
#ord
ord('A')

65

In [30]:
print(chr(65))

A

In [31]:
ord('А')

1040

In [6]:
chr(1040)

'А'