In [1]:
#ler um número e exibir a tabuada desse número até 10
#exemplo input 2
#2 X 0 = 0
#2 X 1 = 2
#2 X 2 = 4
#....
#2 X 10 = 20

In [4]:
n = int(input('digite um valor\n'))

digite um valor
0

In [5]:
n = int(input('digite um valor\n'))
for tabuada in range(0,n+1):
    for i in range(0,11):
        print('%d X %d = %d' %(tabuada,i,tabuada*i))
    print('_'*30)

digite um valor
0
0 X 0 = 0
0 X 1 = 0
0 X 2 = 0
0 X 3 = 0
0 X 4 = 0
0 X 5 = 0
0 X 6 = 0
0 X 7 = 0
0 X 8 = 0
0 X 9 = 0
0 X 10 = 0
______________________________

In [11]:
n = int(input('digite um valor\n'))
tabuada = 0
while tabuada < n+1:
    i = 0
    while i < 11:
        print('%d X %d = %d' %(tabuada,i,tabuada*i))    
        i = i + 1
    print('_'*30)
    tabuada = tabuada + 1

digite um valor
5
0 X 0 = 0
0 X 1 = 0
0 X 2 = 0
0 X 3 = 0
0 X 4 = 0
0 X 5 = 0
0 X 6 = 0
0 X 7 = 0
0 X 8 = 0
0 X 9 = 0
0 X 10 = 0
______________________________
1 X 0 = 0
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
______________________________
2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
______________________________
3 X 0 = 0
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
______________________________
4 X 0 = 0
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
______________________________
5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
______________________________